
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">获奖作品名单</h3>
      <hr>
    </div>
    <% @lists.each do |list| %>
      <div class="col-xs-12 col-md-12 text">
        <!-- <%= link_to list_path(list) do %>

         <% end %> -->
          <div class="text-left">
            <%= link_to(list.title, list_path(list)) %>
          </div>
          <!-- <div class="description">
            <%= sanitize list.description %>
          </div> -->
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @lists %>
    </div>
    <div class="col-md-12 text-center back-index">
      <a href="/" style="font-size: 1.5em;"><i class="fa fa-hand-o-left fa-1x"></i>回到首页</a>
    </div>

  </div>
</div>
