<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
    <!-- <%= image_tag("http://oon3erbcp.bkt.clouddn.com/tu3.jpg")%> -->
    </div>
  </div>
</div>

<br><br><br>
<div class="">
  <% @welcomes.each do |welcome| %>
    <%= link_to welcome_path(welcome) do %>
      <div class="col-xs-12 col-md-4">
        总浏览量： <%= welcome.impressionist_count %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to introductions_path do %>

<% end %>
