<!-- <div class="container">
  <div class="row">
    <div class="col-xs-2 nav-left-style">
      <ul class="nav nav-pills nav-stacked text-center">
        <li role="presentation" class="active"><a href="#">促进会介绍</a></li>
        <li role="presentation" class="active"><a href="#">促进会架构</a></li>
        <li role="presentation" class="active"><a href="#">促进会章程</a></li>
      </ul>
    </div>
  </div>
</div> -->
<br><br><br>
<!-- <div class="container">
  <div class="row">
    <% @introductions.each do |introduction| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to introduction_path(introduction) do %>
          <% if introduction.image.present? %>
            <%= link_to image_tag(introduction.image.url, class: "img-responsive center-block"), introduction_path(introduction) %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "img-responsive center-block"), introduction_path(introduction) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <% @introductions.each do |introduction| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to(introduction.title, introduction_path(introduction)) %>
      </div>
    <% end %>
  </div>
</div>
