
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">了解促进会</h3>
      <hr>
    </div>
    <% @introductions.each do |introduction| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to introduction_path(introduction) do %>
          <% if introduction.image.present? %>
            <%= link_to image_tag(introduction.image.small.url, class: "img-responsive center-block  introduction-image"), introduction_path(introduction) %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/250x250&text=No Pic", class: "img-responsive center-block"), introduction_path(introduction) %>
          <% end %>
          <hr>
          <div class="text-center">
            <%= link_to(introduction.title, introduction_path(introduction)) %>
          </div>
        <% end %>
      </div>


    <% end %>

    <div class="col-md-12 text-center back-index">
      <a href="/" style="font-size: 1.5em;"><i class="fa fa-hand-o-left fa-1x"></i>回到首页</a>
    </div>
  </div>
</div>
