<br><br><br>
<div class="container">
  <div class="row">
    <h2 class="text-center"><%= @introduction.title %></h2>
  </div>
  <br><br><br>
  <div class="description">
    <%= sanitize @introduction.description %>
  </div>
</div>
