
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">皮雕大赛</h3>
      <hr>
    </div>
    <% @games.each do |game| %>
      <div class="col-xs-12 col-md-12">
        <div class="text-center game-index-title">
          <%= link_to(game.title, game_path(game)) %>
        </div>
        <%= link_to game_path(game) do %>
          <% if game.image.url.present? %>
            <%= link_to image_tag(game.image.middle.url, class: "img-responsive center-block  game-image"), game_path(game) %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/800x600&text=No Pic", class: "img-responsive center-block"), game_path(game) %>
          <% end %>

        <% end %>
        <hr>
      </div>
    <% end %>

    <div class="col-md-12 text-center back-index">
      <a href="/" style="font-size: 1.5em;"><i class="fa fa-hand-o-left fa-1x"></i>回到首页</a>
    </div>
  </div>
</div>
