# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8fa9b5bda957c41ec1d7f1799feee748ee68947668704e4b064f87f7e7e0c6a52515086

test:
  secret_key_base: 88401121cc7d1cee37a3703789e4eeaa8ea30ec7e94a3b7ef8c479bcaa63fb57b65c066a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
