/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {

}

body {
  min-height: 100vh;                                   //footer置底
  display: flex;                                       //footer置底
  flex-direction: column;                              //footer置底
  font-family:  "Times New Roman",
               "Microsoft YaHei", "微软雅黑",
               STXihei, "华文细黑";

  padding-top: 50px;                                   //不让navbar遮挡正文
  color: #777;
  .content {
    flex: 1;                                           //footer置底
  }

  a {                                                 // 所有a标签统一样式
      color: #777 !important;                                      // 链接反转的样式
      transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
    }
    a:hover {
      color: #000000 !important;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }
}

//-----navbar------
.navbar-style {
  background: #F0E68C;
  height: 50px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
}

.nav-container {
    display: flex;
    align-items: center;

}

img.avatar {
  border-radius: 50%;
}

//---注册登录页面
.log-page {
  margin-top: 60px;
}


//-----footer------
.footer {
  width: 100%;
  background-color: #F0E68C;
  padding-top: 20px;
}

//个人中心页面
.account-page {
  margin: 30px auto;
  padding-left: 70px;
}
