/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {

}

body {
  min-height: 100vh;                                   //footer置底
  display: flex;                                       //footer置底
  flex-direction: column;                              //footer置底
  font-family:  "Times New Roman",
               "Microsoft YaHei", "微软雅黑",
               STXihei, "华文细黑";

  padding-top: 50px;                                   //不让navbar遮挡正文
  color: #777;
  .content {
    flex: 1;                                           //footer置底
  }

  a {                                                 // 所有a标签统一样式
      color: #777 !important;                                      // 链接反转的样式
      transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
    }
    a:hover {
      color: #000000 !important;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }

}

.all-image {
  width: 500 !important;
  height: 250 !important;
  transition: 0.8s;
}


.all-image:hover {
  filter:alpha(Opacity=100);
  -moz-opacity:0.4;
  opacity: 0.7;
  transition: 0.8s;
}

//-----navbar------
.navbar-style {
  background: #F0E68C;
  height: 60px;
}

// .navbar-brand {
//     letter-spacing: 0.1em;                              //拉开一点点字间距
//   }

.navbar-brand > img {
          display: inline-block; //图片和链接文字显示在同一行
          margin-right: 10px; //图片和链接文字拉开一点距离
          margin-top: -3px;
          width: 25px; //定制图片宽度
          height: 50px; //定制图片高度
      }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
}




// .nav-container {
//     display: flex;
//     align-items: center;
//
// }

img.avatar {
  border-radius: 50%;
}

//introductions index页面
.nav-left-style {

    margin: 30px auto;
    background-color: #F0E68C;


  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {

      background-color: #F0E68C;
  }

.introduction-image {
  width: 80%;

}

.introduction-image:hover {
  box-shadow: 5px 5px 10px rgba(255,253,231 ,1);
}

// .thumbnail-image {
//
//   border-radius:0;
//   transition: box-shadow 0.5s;
//   margin:  0 0px 0px 0px;
// }
//
// .thumbnail-image:hover {
//   box-shadow: 5px 0px 40px rgba(0,0,0, .2);
// }


.back-index {
  margin: 100px auto;
}

//welcome index设置
.topspan {
  margin-top: 2em;
}

.index-content {
  margin-top: 2em;
}

.game-image {
  width: 100%
}

//introductions show内容设置
.description {
  margin: 30px auto;
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: justify;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    border-radius: 6px;
    }
}

//通知公告等栏目
.text {
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: justify;
}

//---注册登录页面
.log-page {
  margin-top: 60px;
}


//-----footer------
.footer {
  width: 100%;
  background-color: #F0E68C;
  padding-top: 20px;
}

// #img_wx {
//     width:200px;
//     height:200px;
//     background:url(http://yixiu2017.oss-cn-shenzhen.aliyuncs.com/pdcjh_wexin.jpg);
//     position:fixed;
//     left:20px;
//     bottom:20px;
//     left:150px;
//     display:none;
// }
// #img_wx .reset {
// position: absolute;
// top: -17px;
// right: 1px;
// font-size: 12px;
// }

//个人中心页面
.account-page {
  margin: 30px auto;
  padding-left: 70px;
}
