<br><br><br>
<div class="container">
  <div class="row">
    <h2 class="text-center"><%= @education.title %></h2>
  </div>
  <br><br><br>
  <div class="description">
    <%== @education.description %>
  </div>
  总浏览量： <%= @education.impressionist_count %>
  <br>
  <%= link_to(content_tag(:i, "返回上一页", class: "fa fa-hand-o-left"), educations_path) %>
</div>
