<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        <br>
        <h3>联系方式</h3>
        <!-- <h4 class="text-center">联系方式</h4> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><i class="fa fa-phone"></i> 电话：0755-28709400 84746080</p>
        <p><i class="fa fa-map-pin"></i> 地址：深圳市龙岗区横岗街道六约社区振业城1期4号楼2楼11-14号</p>
        <p><i class="fa fa-envelope"></i> 邮箱：85089725@qq.com</p>
        <p><i class="fa fa-weixin"></i> 微信公众号：深圳市皮雕艺术促进会</p>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <p class="text-center">版权所有：深圳市皮雕艺术促进会--网站设计：一休</p>
    </div>
  </div>
</footer>
